@tailwind base;
@tailwind components;
@tailwind utilities;
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #f3f3f9;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: 500 ;
        margin-bottom: 0.25rem;
        font-family: 'Poppins', sans-serif;
        color: #495057;
        font-size: 16px;
    }
    p{
        font-size: 13px;
        /* color: rgba(255,255,255,.5); */
        margin-bottom: 1rem ;
    }
    .topbar .dropdown-menu {
        -webkit-box-shadow: 0 5px 10px rgba(30,32,37,.12);
        box-shadow: 0 5px 10px rgba(30,32,37,.12);
        position: absolute;
        z-index: 1000;
        position: absolute;
        top: 13px !important;
        inset: 0px 0px auto auto;
        margin: 0px;
        transform: translate3d(0px, 58px, 0px);
}
    .dropdown-icon {
        display: block;
        border-radius: 3px;
        line-height: 34px;
        text-align: center;
        padding: 15px 0 9px;
        border: 1px solid transparent;
        color: #212529;
        top: 13px !important;
    }

    .dropdown-icon span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    .btn-sm {
        height: calc(0.5rem + 1.5em + 2px);
        width: calc(0.5rem + 1.5em + 2px);
    }
    @media screen and (max-width:578px) {
        .left-230{
            left: -230px !important;
        }
        .left-140{
            left: -140px !important;
        }
        .left-93{
            left: -95px !important;
        }
        .right-5{
            right: -5rem !important;
        }
    }
